#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #bdc3c7;
}
#footer a {
	color: #bdc3c7;
}
#footer a:hover {
	color: #e67e22;
}
#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer ul > li {
	display: inline-block;
	margin-left: 15px;
}
